.container {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 background-color: #ffffff;
 box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
 position: sticky;
 top: 0;
 z-index: 9999;
}

.content {
  max-width: 1366px;
  height: 108px;
  width: 100%;
  padding: 0 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}