.container {
  width: 100%;
  height: 100%;
  max-width: 820px;
  padding: 12px;
  margin: 0 auto;
  // background-color: pink;
}

.content__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
}

.card__wrapper {
  width: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.card__text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #333333;
}