.base__wrapper {
  width: 100%;
  padding: 0 0 48px 0;
  min-height: calc(100vh - 200px);
  // background-color: pink;

  @media only screen and (max-width: 1024px) {
    padding-top: 0;
    min-height: calc(100vh - 100px);
    padding-bottom: 100px;
  }
}

.mobile__noNavigation__wrapper {
  width: 100%;
  padding-top: 100px;
  min-height: calc(100vh - 200px);
  padding-bottom: 48px;

  @media only screen and (max-width: 1024px) {
    padding-top: 0;
    min-height: calc(100vh - 56px);
    padding-bottom: 0px;
  }
}
