.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.content {
  width: 100%;
  max-width: 1366px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 25px 65px 25px 65px;
}

.left__content, .right__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.text__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.outer__img {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 90px;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (323 / 551) * 100%;
  }
  > .inner__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.right__img {
  margin-top: 0;
  border-radius: 60px;
}

.img {
  border-radius: 60px;
}