.container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: -400px;
  margin-bottom: 100px;
  // transform: translateY(-400px);
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  width: 100%;
  height: 100%;
  max-width: 1366px;
  margin: 0 65px;
  padding: 35px 65px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 0px 8px 27px rgba(14, 63, 108, 0.19);
  background-color: #fff;
}