.banner_container {
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 0 0 60px 60px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  background-position: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  padding: 24px;
  background-size: 100% auto;
  height: 315px;
  @media only screen and (max-width: 720px) {
    background-size: auto 100%;
    height: 215px;
    border-radius: 0 0 36px 36px;
  }
  @media only screen and (min-width: 721px) and (max-width: 1024px) {
    background-size: auto 100%;
    height: 280px;
    border-radius: 0 0 36px 36px;
  }
}

.wrapper__SearchBar {
  height: 60px;
  background-color: white;
  border-radius: 36px;
  width: 100%;
  margin: -30px auto;
  z-index: 1;
  position: relative;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 820px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  &.resultSearch {
    margin-top: 0px;
    margin-bottom: 12px;
    max-width: 100%;
    .container_searchSuggestion {
      max-width: 100%;
      max-height: 450px;
      overflow-y: auto;
    }
  }
  @media only screen and (max-width: 1024px) {
    width: calc(100% - 48px);
    height: 40px;
    margin: -20px auto;
    border-radius: 24px;
  }
  .input__transparent {
    width: 100%;
    outline: transparent;
    max-width: 742px;
    min-width: 190px;
    font-size: 14px;
    line-height: 1;
    display: flex;
    align-items: center;
    height: 60px;
    z-index: 2;
    @media only screen and (max-width: 1024px) {
      height: 40px;
      font-size: 12px;
    }
  }

  .container_searchSuggestion {
    width: 100%;
    max-width: 820px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 5;

    &.mobile {
      position: fixed;
      background: white;
      height: 100%;
      width: 100%;
      top: 0;
      border-radius: none;
      box-shadow: none;
      z-index: 99999;
    }
  }
  div {
    position: relative;
    z-index: 4;
  }
  .card__image {
    height: 73px;
    width: 73px;
    min-height: 73px;
    min-width: 73px;
    position: relative;
    img {
      border-radius: 10px;
    }
  }

  .card__desc {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
  }
}

.popularBadge {
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 0 16px 0 16px;
  position: absolute;
  right: 0;
  font-size: 10px;
  padding: 4px 14px;
  font-weight: bold;
}

.container__mobile {
  position: fixed;
  background: white;
  height: 100vh;
  width: 100%;
  top: 0;
  border-radius: none;
  box-shadow: none;
  z-index: 99999;
  .header__search {
    background: linear-gradient(180deg, #094f6d -32.14%, #3a8a96 117.86%);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 8px 24px 8px 16px;
  }

  .header__container {
    display: flex;
    align-items: center;
    button {
      padding: 8px;
      width: 27px;
      height: 42px;
      position: relative;
      z-index: 1;
    }

    .InputSearchSuggestion {
      width: 100%;
      height: 40px;
      border-radius: 8px;
      font-size: 12px;
      display: flex;
      align-items: center;
      width: 100%;
      font-family: var(--font-poppins);
      font-size: 12px;
      border: 1px solid #e9e9e9;
      margin-left: 12px;
      margin-right: 12px;

      input {
        width: 100%;
        height: 40px;
        padding: 12px;
        border-radius: 8px 0 0 8px;
        outline: transparent;
      }
      .buttonSearch {
        width: 40px;
        height: 40px;
        display: flex;
        background-color: #71d5cb;
        align-items: center;
        border-radius: 0px 8px 8px 0px;
      }
      svg {
        path {
          stroke: white;
        }
      }
    }
  }

  .card__image {
    height: 73px;
    width: 73px;
    min-height: 73px;
    min-width: 73px;

    img {
      border-radius: 10px;
    }
  }
}

.wrapper__destination {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 36px;
  max-width: 1280px;
  margin: 0px auto 24px auto;
  // justify-content: space-between;
  @media only screen and (max-width: 1024px) {
    padding: 0 12px;
    max-width: 820px;
    justify-content: center;
  }
  .card {
    width: 23.5%;
    height: 200px;
    border-radius: 24px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom: 24px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    padding: 16px;
    color: white;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #463f3f00 0%, #000000bd 136.78%);
      top: 0;
      left: 0;
      z-index: 0;
      border-radius: 24px;
      opacity: 0.8;
    }
    @media only screen and (max-width: 600px) {
      background-size: 100% 100%;
    }
    @media only screen and (max-width: 1024px) {
      &:nth-child(1n) {
        margin-right: 2%;
      }
    }

    @media only screen and (min-width: 1280px) {
      margin: 12px 10px;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
    &.hidden {
      display: none;
    }

    div {
      position: relative;
      z-index: 0;
    }
    @media only screen and (max-width: 280px) {
      width: 125px;
      height: 125px;
      margin-right: 0;
    }

    @media only screen and (min-width: 281px) and (max-width: 380px) {
      width: 155px;
      height: 155px;
      margin-right: 0;
    }

    @media only screen and (min-width: 381px) and (max-width: 429px) {
      width: 175px;
      height: 175px;
      margin-right: 0;
    }

    @media only screen and (min-width: 430px) and (max-width: 480px) {
      width: 205px;
      height: 205px;
      margin-right: 0;
    }

    @media only screen and (min-width: 481px) and (max-width: 520px) {
      width: 225px;
      height: 225px;
      margin-right: 0;
    }

    @media only screen and (min-width: 521px) and (max-width: 600px) {
      width: 245px;
      height: 245px;
      margin-right: 0;
    }

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
      height: 175px;
    }
  }
}

.titleSection {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--black-color);
  width: 100%;
  max-width: 1280px;
  margin-top: 80px;
  margin-bottom: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 1024px) {
    max-width: 820px;
    margin-top: 40px;
    font-size: 18px;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 16px;
  }

  &.title2 {
    margin-top: 24px;
    margin-bottom: 24px;
    @media only screen and (max-width: 1024px) {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
}

.wrapper__popularTour {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 36px;
  max-width: 1280px;
  margin: 0px auto 24px auto;
  justify-content: space-between;

  @media only screen and (max-width: 1024px) {
    padding: 0 12px;
    max-width: 820px;
  }
  &.resultSearch {
    padding-right: 0;
  }
}

.card__wrapper {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: calc(50% - 24px);
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1024px) {
    width: calc(100%);
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  &.resultSearch {
    width: calc(50% - 16px);
    margin-bottom: 12px;
    .card__image {
      height: 160px;
    }
  }
}

.card__image {
  height: 160px;
  width: 100%;
  position: relative;
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    height: 160px;
  }
  img {
    border-radius: 16px;
  }
  @media only screen and (max-width: 600px) {
    height: 160px;
  }
}

.card__body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 160px);
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    padding: 12px 0;
    height: calc(100% - 160px);
  }
}
.card__titleContainer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  .card__title {
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 20px;
    padding-right: 8px;
    font-weight: 700;
    color: var(--black-color);
    text-align: left;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 12px;
  }
}
.card__desc {
  display: flex;
  width: 100%;
  padding: 0 12px;
  justify-content: space-between;
  align-items: flex-start;
}

.container__popularTour {
  width: 100%;
  height: 100%;
  padding: 0;
  max-width: 1162px;
  margin: 0 auto;
  @media only screen and (max-width: 600px) {
    padding: 0px;
    max-width: 820px;
  }
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    padding: 24px;
    max-width: 820px;
  }

  .title {
    font-size: 24px;
    font-family: var(--font-poppins);
    color: var(--grey-400-color);
    font-weight: 700;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 24px;
    @media only screen and (max-width: 600px) {
      font-size: 18px;
      font-family: var(--font-poppins);
      color: var(--grey-400-color);
      font-weight: 500;
      text-align: left;
      margin-top: 24px;
      margin-bottom: 0px;
      padding-left: 12px;
    }
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
      margin-top: 0px;
    }
  }
  :global {
    .swiper {
      width: 100%;
      height: 100%;
      padding: 12px 0;
    }
    .swiper-button-disabled {
      display: none;
    }
    .swiper-slide {
      font-size: 18px;
      background: #fff;
      height: auto;
      width: auto !important;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @media only screen and (max-width: 600px) {
        margin-right: 12px !important;
        margin-left: 12px !important;
        // &:first-child {
        //   margin-left: 12px;
        // }
        // &:last-child {
        //   margin-right: 12px;
        // }
      }
    }
    
    @media only screen and (max-width: 768px) {
      .swiper-wrapper {
        display: flex;
        flex-direction: column;
        // padding: 0 12px;
      }
    }


    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-button-prev,
    .swiper-button-next {
      opacity: 0;
      transition: all 0.3s;
      @media only screen and (min-width: 600px) and (max-width: 1024px) {
        opacity: 1;
      }
    }

    .swiper-button-prev {
      left: 0px;
      @media only screen and (min-width: 600px) and (max-width: 1024px) {
        left: 12px;
      }
    }
    .swiper-button-next {
      right: 0px;
      @media only screen and (min-width: 600px) and (max-width: 1024px) {
        right: 12px;
      }
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-family: swiper-icons;
      font-size: 14px;
      letter-spacing: 0;
      text-transform: none;
      font-variant: initial;
      line-height: 14px;
      color: white;
      background: #505050b8;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
    }
  }
  &:hover {
    :global {
      .swiper-button-prev,
      .swiper-button-next {
        opacity: 1;
        transition: all 0.3s;
        @media only screen and (max-width: 600px) {
          opacity: 0;
          pointer-events: none;
        }
      }
      .swiper-button-prev {
        left: 12px;
      }
      .swiper-button-next {
        right: 12px;
      }
    }
  }

  .card__wrapper {
    width: 100%;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    margin-top: 0;
  }

  .card__image {
    height: 660px;
    width: 100%;
    position: relative;
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
      height: 160px;
    }
    img {
      border-radius: 16px;
    }
    @media only screen and (max-width: 600px) {
      height: 103px;
    }
  }

  .card__body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and (max-width: 600px) {
      padding: 12px;
    }
  }
  .card__titleContainer {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    .card__title {
      font-family: var(--font-inter);
      font-size: 16px;
      line-height: 20px;
      padding-right: 8px;
      font-weight: 700;
      color: var(--black-color);
      text-align: left;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-all;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 12px;
    }
  }
  .card__desc {
    display: flex;
    width: 100%;
    padding: 0 12px;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.wrapper__searchResult {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 36px;
  display: flex;
  @media only screen and (max-width: 1024px) {
    padding: 0 12px;
  }
}

.l__content {
  min-width: 350px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
  margin-top: 24px;
}

.r__content {
  width: 100%;
}

.buttonDuration {
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  color: var(--primary-color);
  font-size: 12px;
  padding: 4px 8px;
  transition: all 0.1s;
  @media only screen and (max-width: 1024px) {
    width: 100%;
    &:first-child {
      margin-right: 6px;
    }
    &:last-child {
      margin-left: 6px;
    }

    &:nth-child(2) {
      margin-left: 6px;
      margin-right: 6px;
    }
  }
  &.active {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    color: white;
    background-color: var(--primary-color);
    transition: all 0.1s;
  }
}

.default__inputRange {
  :global {
    .input-range__label-container {
      display: none;
    }
  }
}

.header__searchResult {
  background: linear-gradient(180deg, #094f6d -32.14%, #3a8a96 117.86%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0 12px;
  margin-bottom: 24px;
  .iconSearch {
    path {
      stroke: #fff;
    }
  }
}

.floatingContainer {
  padding: 6px 24px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: calc(50% - 84px);
  box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
}

.wrapper__dropdownSort {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 1;
}

.container__dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border-radius: 16px;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 10%);
  background: white;
}

.tourDetail__slider {
  height: 330px;
  position: relative;

  @media only screen and (max-width: 1024px) {
    height: 260px;
  }
  .wrapper {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 100%;
    @media only screen and (max-width: 1024px) {
      position: absolute;
      background-size: auto 100%;
      width: calc(100% + 16px);
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(
        180deg,
        rgba(70, 63, 63, 0) 0%,
        rgb(0 0 0 / 0.4) 136.78%
      );
      z-index: 2;
    }
  }
  :global {
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      @media only screen and (min-width: 1280px) {
        width: 1280px;
        left: calc((100% - 1280px) / 2 - 24px);
        bottom: 36px;
      }
      @media only screen and (max-width: 1024px) {
        bottom: 12px;
      }
      @media only screen and (min-width: 1025px) and (max-width: 1270px) {
        width: 1024px;
        left: calc((100% - 1024px) / 2 - 24px);
        bottom: 36px;
      }
    }

    .swiper-pagination {
      @media only screen and (min-width: 1025px) {
        display: flex;
        justify-content: flex-end;
        z-index: 4;
        margin-bottom: 10px;
        height: 0;
      }
    }

    .swiper-pagination .swiper-pagination-bullet {
      background: #8c9292;
      opacity: 1;
      width: 8px;
      height: 8px;
      margin: 0 3px;
      transition: all 0.3s;
    }

    .swiper-pagination .swiper-pagination-bullet-active {
      background: white;
      opacity: 1;
      width: 8px;
      height: 8px;
      margin: 0 3px;
      transition: all 0.3s;
    }

    .swiper-button-prev,
    .swiper-button-next {
      opacity: 0;
      transition: all 0.3s;
      @media only screen and (min-width: 1025px) and (max-width: 1359px) {
        top: 35%;
      }
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-family: swiper-icons;
      font-size: 14px;
      letter-spacing: 0;
      text-transform: none;
      font-variant: initial;
      line-height: 14px;
      color: white;
      background: #505050b8;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      position: relative;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover {
    :global {
      .swiper-button-prev,
      .swiper-button-next {
        opacity: 1;
        transition: all 0.3s;
        @media only screen and (max-width: 1024px) {
          opacity: 0;
          pointer-events: none;
        }
      }
      .swiper-button-prev {
        left: 24px;
        @media only screen and (min-width: 1025px) and (max-width: 1359px) {
          top: 35%;
        }
      }
      .swiper-button-next {
        right: 24px;
        @media only screen and (min-width: 1025px) and (max-width: 1359px) {
          top: 35%;
        }
      }
    }
  }
}
