.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 12px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 12px;

  :global {
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-wrapper {
      display: flex;
      flex-grow: 0.5;
    }
    
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
    
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
  }
}

.bg {
  position: absolute;
}

.card__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img__wrapper {
  position: relative;
  border-radius: 50%;
  border: 2px solid #2395FF;
  padding: 2px;

  @media only screen and (min-width: 1025px) {
    border: 5px solid #ffffff;
    padding: 6px;
  }
}

.img {
  width: 100%;
  height: 100%;
  // max-width: 100px;
  object-fit: cover;
  border-radius: 50%;
}


.container__desktop {
  width: 100%;
  height: 550px;
  padding: 0 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.content__desktop {
  width: 100%;
  height: 100%;
  max-width: 1106px;
  background: transparent;
  border-radius: 60px;

  :global {
    .swiper-wrapper {
      height: 350px;
    }
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
      transition: all 0.3s;
    }

    .swiper-button-prev {  
      @media only screen and (min-width: 600px) and (max-width: 1024px) {
        left: 12px;
      }
    }
    .swiper-button-next {
      right: 0px;
      @media only screen and (min-width: 600px) and (max-width: 1024px) {
        right: 12px;
      }
    }

    .swiper-button-disabled {
      cursor: not-allowed;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-family: swiper-icons;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0;
      text-transform: none;
      font-variant: initial;
      line-height: 14px;
      color: #2395FF;
      background: #ffffff;
      width: 68px;
      height: 50px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
    }

    .swiper-button-prev::after {
      position: absolute;
      bottom: -100px;
      left: 470px;
      z-index: 5;
    }
    .swiper-button-next::after {
      position: absolute;
      bottom: -100px;
      right: 470px;
      z-index: 5;
    }
  }
}