.container {
  width: 100%;
  height: 100%;
  padding: 12px;
  margin: 0 auto;
}

.content {
  width: 100%;
  height: 100%;
  padding: 0 12px;
  display: flex;
  flex-direction: column;

  :global {
    .swiper {
      width: 240px;
      height: 320px;
    }
    
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
    }
  }
}

// card
.card__wrapper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

// .card__img {
//   border-radius: 20px;
// }

.img__layer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.total__airlines {
  width: 105px;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 33px;
  padding: 5px 16px;
  margin: 25px 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
}

.price__info {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px 31px 26px;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.icon__wrapper {
  background: rgba(255, 255, 255, 0.17);
  border-radius: 20px;
  padding: 10px 12px;
}

// desktop
.container__desktop {
  width: 100%;
  height: 100%;
  padding: 50px 65px 150px 65px;
}

.content__desktop {
  width: 100%;
  height: 100%;
  max-width: 1158px;
  margin: 0 auto;

  :global {
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-wrapper {
      display: flex;
      flex-grow: 0.5;
    }
    
    .swiper-slide {
      width: 202px;
      height: 242px;
      // border-radius: 20px !important;
      text-align: center;
      font-size: 18px;
      background: #fff;
    
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    
    // .swiper-slide img {
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
    
  }
}