.left__content {
  width: 350px;
  height: 100vh;
  border-radius: 12px;
  padding: 8px 12px;
}

.right__content{
  width: calc(100% - 350px);
  height: 100%;
  padding: 0 12px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrapper__popularTour {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // padding: 0 36px;
  max-width: 1280px;
  margin: 0px auto 24px auto;
  justify-content: space-between;

  @media only screen and (max-width: 1024px) {
    padding: 0 12px;
    max-width: 820px;
  }
  &.resultSearch {
    padding-right: 0;
  }
}